-# ✔ ✘

%header refreshing in 7 seconds...
.content
  %section.icps
    - @all_icps.each do |icp|
      %div{class: "icp-card #{icp[:status]}"}
        .icp-title
          =icp[:name]
          =icp[:status]
        - if icp[:status] == "good"
          .icp-status-indicator ✔
        - else
          .icp-status-indicator ✘
  %section.ci-projects
    - @ci_projects.each do |project|
      %div{class: "ci-project-card #{project[:last_build_result]}"}
        .ci-project-name= project[:name]
        - if project[:last_build_result] == "good"
          .icp-status-indicator ✔
        - else
          .icp-status-indicator ✘
