-# - @g.each do |commit|
-#   %p
-#     =commit.name

.header.followMeBar
  Header
.content
  .icpCard
    .icpTitle
      Warpath
    %table.icpStatusBox
      %tr
        %td
          =image_tag('icons/64x64/terminal-3.png')
        %td
          =image_tag('icons/64x64/database-add.png')
        %td
          =image_tag('icons/64x64/repeat-2.png')
  .icpCard
    .icpTitle
      Bonecrusher
    %table.icpStatusBox
      %tr
        %td
          =image_tag('icons/64x64/terminal-3.png')
        %td
          =image_tag('icons/64x64/database-add.png')
        %td
          =image_tag('icons/64x64/repeat-2.png')
  .icpCard
    .icpTitle
      Sideswipe
    %table.icpStatusBox
      %tr
        %td
          =image_tag('icons/64x64/terminal-3.png')
        %td
          =image_tag('icons/64x64/database-add.png')
        %td
          =image_tag('icons/64x64/repeat-2.png')
