-# ✔ ✘

%header refreshing in 7 seconds...
.content

  %section.icps
    - @all_icps.each do |icp|
      %div{class: "icp-card #{icp[:status]}"}
        .name
          =icp[:name]
          =icp[:status]
        - if icp[:status] == "good"
          .status-indicator ✔
        - else
          .status-indicator ✘
        .messages
          - icp[:messages].each do |message|
            .message= message

  %section.ci-projects
    - @ci_projects.each do |project|
      %div{class: "ci-project-card #{project[:last_build_result]}"}
        .name= project[:name]
        - if project[:last_build_result] == "good"
          .status-indicator ✔
        - else
          .status-indicator ✘
