-# - @g.each do |commit|
-#   %p
-#     =commit.name
.header Header
.content
  .icps
    - @icps.each do |icp|
      - if icp.last_connect_time < @now
        .icpCard.orange
          .icpTitle
            =icp.icp_name
            =icp.last_connect_time
            =@now
          .icpIndicator ✔
      - else
        .icpCard.blue
          .icpTitle
            =icp.icp_name
          .icpIndicator ✔
