-# ✔ ✘

.header Header
.content
  .icps
    - @all_icps.each do |icp|
      %div{class: " icpCard #{icp["status"]}"}
        .icpTitle
          =icp["name"]
          =icp["status"]
        - if icp["status"] == "orange"
          .icpIndicator ✘
        - else
          .icpIndicator ✔
