-# - @allJobs.each do |job|
-#   %p
-#     =job.name

.content
  .icpCard
    .icpTitle
      Warpath
    .icpContent
      %p
        ICP Time: 18:00:00 11/29/2012
    .icpStatusBox
      .icpIconBox.red
        =image_tag('icons/64x64/terminal-3.png')
      .icpIconBox
        =image_tag('icons/64x64/database-add.png')
      .icpIconBox
        =image_tag('icons/64x64/repeat-2.png')
  .icpCard
    .icpTitle
      Warpath
    .icpContent
      %p
        ICP Time: 18:00:00 11/29/2012
    .icpStatusBox
      .icpIconBox
        =image_tag('icons/64x64/terminal-3.png')
      .icpIconBox
        =image_tag('icons/64x64/database-add.png')
      .icpIconBox.yellow
        =image_tag('icons/64x64/repeat-2.png')
  .icpCard.yellow
    .icpTitle
      Warpath
    .icpContent
      %p
        ICP Time: 18:00:00 11/29/2012
    .icpStatusBox
      .icpIconBox
        =image_tag('icons/64x64/terminal-3.png')
      .icpIconBox
        =image_tag('icons/64x64/database-add.png')
      .icpIconBox.yellow
        =image_tag('icons/64x64/repeat-2.png')
  .icpCard.red
    .icpTitle
      Warpath
    .icpContent
      %p
        ICP Time: 18:00:00 11/29/2012
    .icpStatusBox
      .icpIconBox.red
        =image_tag('icons/64x64/terminal-3.png')
      .icpIconBox
        =image_tag('icons/64x64/database-add.png')
      .icpIconBox
        =image_tag('icons/64x64/repeat-2.png')
