-# ✔ ✘

.header refreshing in 7 seconds...
.content
  %section.icps
    - @all_icps.each do |icp|
      %div{class: "icp-card #{icp["status"]}"}
        .icp-title
          =icp[:name]
          =icp[:status]
        - if icp[:status] == "orange"
          .icp-status-indicator ✘
        - else
          .icp-status-indicator ✔
