-# - @g.each do |commit|
-#   %p
-#     =commit.name
.header
  Header
.content
  .icps
    .icpCard.blue
      .icpTitle
        Warpath
      .icpIndicator
        ✔
    .icpCard.orange
      .icpTitle
        Bonecrusher
      .icpIndicator
        ✘
      .icpStatus
        Last Sync: 12 min ago
    .icpCard.grey
      .icpTitle
        Sideswipe
    .icpCard.blue
      .icpTitle
        Warpath
      .icpIndicator
        ✔
    .icpCard.orange
      .icpTitle
        Bonecrusher
      .icpIndicator
        ✘
      .icpStatus
        Last Sync: 12 min ago
    .icpCard.grey
      .icpTitle
        Sideswipe
    .icpCard.blue
      .icpTitle
        Warpath
      .icpIndicator
        ✔
    .icpCard.orange
      .icpTitle
        Bonecrusher
      .icpIndicator
        ✘
      .icpStatus
        Last Sync: 12 min ago
    .icpCard.grey
      .icpTitle
        Sideswipe
    .icpCard.blue
      .icpTitle
        Warpath
      .icpIndicator
        ✔
    .icpCard.orange
      .icpTitle
        Bonecrusher
      .icpIndicator
        ✘
      .icpStatus
        Last Sync: 12 min ago
    .icpCard.grey
      .icpTitle
        Sideswipe
    .icpCard.blue
      .icpTitle
        Warpath
      .icpIndicator
        ✔
    .icpCard.orange
      .icpTitle
        Bonecrusher
      .icpIndicator
        ✘
      .icpStatus
        Last Sync: 12 min ago
    .icpCard.grey
      .icpTitle
        Sideswipe
  .jenkins
    .icpCard.blue
      .icpTitle
        Warpath
      .icpIndicator
        ✔
    .icpCard.orange
      .icpTitle
        Bonecrusher
      .icpIndicator
        ✘
      .icpStatus
        Last Sync: 12 min ago
    .icpCard.grey
      .icpTitle
        Sideswipe
    .icpCard.blue
      .icpTitle
        Warpath
      .icpIndicator
        ✔
    .icpCard.orange
      .icpTitle
        Bonecrusher
      .icpIndicator
        ✘
      .icpStatus
        Last Sync: 12 min ago
    .icpCard.grey
      .icpTitle
        Sideswipe
    .icpCard.blue
      .icpTitle
        Warpath
      .icpIndicator
        ✔
    .icpCard.orange
      .icpTitle
        Bonecrusher
      .icpIndicator
        ✘
