$dark-blue: #27313e;

$light-blue: #2090ae;
$dark-light-blue: darken($light-blue, 10%);
$transparent-light-blue: transparentize($light-blue, 0.7);

$orange: #de5c31;
$dark-orange: darken($orange, 10%);
$transparent-orange: transparentize($orange, 0.7);

$grey: #55606e;
$dark-grey: darken($grey, 10%);
$transparent-grey: transparentize($grey, 0.7);


@mixin link($px: 2, $style: solid, $color: $dark-blue) {
  text-decoration: none;
  border-bottom: $px*1px $style $color;
}

@mixin font-size($font-size: 16) {
  font-size: $font-size*1px;
  font-size: $font-size/16*1rem;
}

@mixin line-height($line-height: 20) {
  line-height: $line-height*1px;
  line-height: $line-height/16*1rem;
}

@mixin margin($t, $r, $b, $l, $container) {
  margin: percentage($t/$container) percentage($r/$container)
          percentage($b/$container) percentage($l/$container);
}

@mixin padding($t, $r, $b, $l, $container) {
  padding: percentage($t/$container) percentage($r/$container)
           percentage($b/$container) percentage($l/$container);
}
