$dark-blue: #27313e;

$light-blue: #2090ae;
$transparent-light-blue: transparentize($light-blue, 0.7);
$orange: #b35536;
$transparent-orange: transparentize($orange, 0.7);
$grey: #55606e;
$transparent-grey: transparentize($grey, 0.7);
