// Place all the styles related to the dashboard controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  font-family: 'Lato', 'Arial', sans-serif;
  text-transform: uppercase;
  color: #555;
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  vertical-align: top;
}
a {
  text-decoration: none;
  color: red;
}
.box1 {
  display: inline-block;
  background: #ddd;
  height: 400px;
  width: 33%;
  margin-bottom: 5px;
}
.box2 {
  display: inline-block;
  background: #ddd;
  height: 400px;
  width: 33%;
  margin-bottom: 5px;
}
.box3 {
  display: inline-block;
  background: #ddd;
  height: 300px;
  width: 99.7%;
  margin-bottom: 5px;
}
