@import "config";

@media screen and (max-width: 400px) {
  .content {
    max-width: $max-width;
    margin: 23px 0 0 0;

    @include respond-to(small-small) {
      margin: 36px 0 0 0;
    }
  }

  section .header {
    @include padding(10, 18, 10, 16, $max-width);

    color: $grey;
    @include font-size(18);

    @include respond-to(small-small) {
      @include padding(24, 18, 6, 24, $max-width);
      @include font-size(24);
    }
  }

  .card {
    @include padding(22, 18, 22, 16, $max-width);

    @include font-size(28);

    @include respond-to(small-small) {
      width: 90%;
      @include margin(10, 0, 0, 0, $max-width);
      margin-left: auto;
      margin-right: auto;
      @include padding(20, 18, 18, 16, $max-width);

      border-radius: 6px;
      @include font-size(32);
    }

    .name {
      display: inline-block;
      overflow: hidden;
      width: 86%;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    .status-indicator {
      display: inline;
      float: right;
      margin-top: -6px;

      @include font-size(32);

      @include respond-to(small-small) {
        margin-top: -4px;
      }
    }

    .messages {
      @include margin(16, 0, 0, 0, $max-width);
      @include font-size(16);
      font-weight: normal;

      @include respond-to(small-small) {
        @include font-size(20);
      }
    }

    .message {
      @include padding(0, 0, 8, 0, $max-width);

      &:last-of-type {
        padding: 0;
      }
    }

    &.good {
      background-color: $light-blue;
      border-bottom: 2px solid $dark-light-blue;

      .status-indicator {
        margin-top: -5px;
      }
    }

    &.bad {
      background-color: $orange;
      border-bottom: 2px solid $dark-orange;
    }

    &.ignored {
      background: $grey;
      border-bottom: 2px solid $dark-grey;
    }
  }
}


/******* LARGE SCREEN (1080) *********/

@media screen and (min-width: 1600px) {
  header {

  }
  $max-width: 1920;
  .content {
    padding-left: 25px;
  }

  section {
    .header {
      color: $grey;
      @include respond-to(small-small) {
        @include padding(5, 12, 5, 12, $max-width);
        @include font-size(24);
      }
    }
  }

  .card {
    vertical-align: top;
    @include padding(5, 5, 5, 5, $max-width);
    font-size: 14px;
    display: inline-block;
    border-radius: 6px;
    margin-left: auto;
    margin-right: auto;
    @include margin(1, 0, 0, 0, $max-width);

    .name {
      font-size: 16px;
      display: inline-block;
      overflow: hidden;
      width: 86%;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    .status-indicator {
      display: inline;
      float: right;
      margin-top: -4px;
      @include font-size(24);
    }

    .messages {
      @include margin(16, 0, 0, 0, $max-width);
      font-weight: normal;
    }
  }
}

.icp {
  width: 320px;
  &.good {
    background-color: $light-blue;
    border-bottom: 4px solid $dark-light-blue;
  }

  &.bad {
    background-color: $orange;
    border-bottom: 6px solid $dark-orange;
    min-height: 80px;
  }

  &.ignored {
    background: $grey;
    border-bottom: 4px solid $dark-grey;
  }
}
.jenkins {
  a {
    color: $dark-blue;
  }
  width: 320px;
  &.good {
    background-color: $light-blue;
    border-bottom: 4px solid $dark-light-blue;
  }

  &.bad {
    background-color: $orange;
    border-bottom: 6px solid $dark-orange;
  }

  &.ignored {
    background: $grey;
    border-bottom: 4px solid $dark-grey;
  }
}
.divider {
  height: 15px;
  width: 100%;
}
