// Place all the styles related to the dashboard controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "config";

@media screen and (max-width: 700px) {
  .header {
    font-weight: bold;
    font-size: 2em;
    height: 50px;
    padding-top: 15px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    box-shadow: $transparent-grey 0px 3px 0px;
  }
  .content {
    width: 100%;
    padding-top: 90px;
  }
  .icp {
    width: 100%;
  }
  .jenkins {
    width: 100%;
  }
  .icpCard {
    margin:auto;
    width: 90%;
    margin-bottom: 15px;
    font-size: 2em;
    border-radius: 5px;
  }
  .icpTitle {
    font-weight: bold;
    display: inline-block;
    padding: 20px;
  }
  .icpIndicator {
    display: inline-block;
    margin-top: 20px;
    padding-right: 10%;
    float: right;
  }
  .icpStatus {
    font-size: .6em;
    padding-left: 20px;
    padding-bottom: 20px;
  }
  /****** COLORS  *******/

  .blue {
    background: $light-blue;
    box-shadow: $transparent-light-blue 0px 3px 0px;
  }
  .blue:hover { background: $transparent-light-blue; }
  .orange {
    background: $orange;
    box-shadow: $transparent-orange 0px 3px 0px;
  }
  .orange:hover { background: $transparent-orange; }
  .grey{
    background: $grey;
    box-shadow: $transparent-grey 0px 3px 0px;
  }
}

@media screen and (min-width: 700px) {
  .header {
    font-weight: bold;
    font-size: 2em;
    height: 50px;
    padding-top: 15px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    box-shadow: $transparent-grey 0px 3px 0px;
  }
  .content {
    width: 100%;
    padding-top: 90px;
  }
  .icps {
    float: left;
    width: 50%;
  }
  .jenkins {
    float: left;
    width: 50%;
  }
  .icpCard {
    margin:auto;
    width: 90%;
    margin-bottom: 15px;
    font-size: 2em;
    border-radius: 5px;
  }
  .icpTitle {
    font-weight: bold;
    display: inline-block;
    padding: 20px;
  }
  .icpIndicator {
    display: inline-block;
    margin-top: 20px;
    float: right;
    padding-right: 10%;
  }
  .icpStatus {
    font-size: .6em;
    padding-left: 20px;
    padding-bottom: 20px;
  }
  /****** COLORS  *******/

  .blue {
    background: $light-blue;
    box-shadow: $transparent-light-blue 0px 3px 0px;
  }
  .blue:hover { background: $transparent-light-blue; }
  .orange {
    background: $orange;
    box-shadow: $transparent-orange 0px 3px 0px;
  }
  .orange:hover { background: $transparent-orange; }
  .grey{
    background: $grey;
    box-shadow: $transparent-grey 0px 3px 0px;
  }
}










