@import "config";

body {
  background-color: $dark-blue;

  color: $dark-blue;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 1em;
  font-weight: bold;
}

a {
  color: red;
  text-decoration: none;
}

// Mobile-first: starting with styles up to 480px wide...
$max-width: 480;

.header {
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100%;
  @include padding(4, 0, 2, 0, $max-width);

  background-color: $grey;

  text-align: center;
}
