@import "config";

body {
  background-color: $dark-blue;

  color: $dark-blue;
  font-family: Helvetica, Arial, sans-serif;
}

a {
  color: red;
  text-decoration: none;
}

.header {
  position: fixed;
  z-index: 1;
  width: 100%;

  background-color: $grey;

  text-align: center;
}
