@import "config";

@media screen and (max-width: 640px) {
  .jenkins {
    width: 100%;
  }
  .icp-title {
    font-weight: bold;
    display: inline-block;
    padding: 30px;
  }
  .icp-status-indicator {
    display: inline-block;
    margin-top: 20px;
    padding-right: 10%;
    float: right;
  }
  .icp-status {
    font-size: .6em;
    padding-left: 30px;
    padding-bottom: 30px;
  }
}
