@import "config";

.login_box {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -200px;
  margin-top: -109px;
  width: 380px;
  padding: 10px;
  background: $grey;
  @include font-size(22);

  input {
    text-align: center;
    display: block;
    color: $dark-grey !important;
    margin-bottom: 10px;
    padding: 10px;
    border: 0;

  }
  input[type='submit']{
    @include font-size(40);
    background: $light-blue;
    width: 100%;

    &:hover{
      background: $medium-dark-light-blue;
    }
  }

  .flash_box {
    color: $orange;
    width: 80%;
    text-align: center;
    margin: auto;
    margin-bottom: 10px;
  }
}
