@import "config";

@media screen and (max-device-width: 480px) {
  .login_box {
    margin-right: auto;
    margin-left: auto;
    width: 80%;
    @include font-size(60);

    input {
      text-align: center;
      color: $dark-grey !important;
      margin-bottom: 30px;
      border-radius: 0;
      border: 0;
      width: 92%;
      height: 100px;

    }
    input[type='submit']{
      @include font-size(80);
      background: $light-blue;
      width: 100%;
      margin-top: 25px;
      height: 150px;

      &:hover {
        background: $medium-dark-light-blue;
      }
    }

    .flash_box {
      color: $orange;
      width: 90%;
      text-align: center;
      margin: auto;
      margin-bottom: 10px;
    }
  }
}

@media screen and (max-width: 480px) {
  .login_box {
    margin-right: auto;
    margin-left: auto;
    width: 80%;
    @include font-size(22);

    input {
      text-align: center;
      display: block;
      color: $dark-grey !important;
      margin-bottom: 10px;
      margin-right: auto;
      margin-left: auto;
      border: 0;
      padding-top: 10px;
      padding-bottom: 10px;
      width: 100%;

    }
    input[type='submit']{
      @include font-size(40);
      background: $light-blue;

      &:hover {
        background: $medium-dark-light-blue;
      }
    }

    .flash_box {
      color: $orange;
      width: 80%;
      text-align: center;
      margin: auto;
      margin-bottom: 10px;
    }
  }
}

@media screen and (min-width: 1000px) {
  .login_box {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -200px;
    margin-top: -109px;
    width: 380px;
    padding: 10px;
    background: $grey;
    @include font-size(22);

    input {
      text-align: center;
      display: block;
      color: $dark-grey !important;
      margin-bottom: 10px;
      padding: 10px;
      border: 0;

    }
    input[type='submit']{
      @include font-size(40);
      background: $light-blue;
      width: 100%;

      &:hover {
        background: $medium-dark-light-blue;
      }
    }

    .flash_box {
      color: $orange;
      width: 80%;
      text-align: center;
      margin: auto;
      margin-bottom: 10px;
    }
  }
}
